%h1
  History
= "<span class=\"light\">Total:</span> #{@history[:total_hours]}h / <span class=\"light\">Diff:</span> #{@history[:total_diff_hours]}h"
%table.history
  %tbody
    - date = nil
    - @history[:days].each do |date, data|
      %tr
        %td{:colspan => 3,:class => "date"}
          =date
      - data[:runs].each do |run|
        %tr
          %td
            %span.start
              =run[:start]
            \-
            %span.stop
              =run[:stop]
          %td
            =run[:comment]
          %td
            //%a{:href=>"/edit/#{run[:id]}"}
            //  Edit
      - date = data[:date]

%strong
%br

%a{:href => "/"}
  Back
