%h3
  %span.light
    Worked today:
  = @summary[:worked_hours]
  h

%form{:method=>"post", :class=>"form form-inline"}
  - if @running 
    %input{:type=>"hidden", :name=>"cmd", :value=>"stop"}
    %input{:type=>"text", :name => "comment", :placeholder => "Add a comment", :class=>"comment input-xlarge"}
    %input{:type=>"submit", :value=>"Stop timer", :class => "btn btn-danger btn-large"}
  - else
    %input{:type => "hidden", :name => "cmd", :value => "start"}
    %input{:value=> "Start timer", :type=> "submit", :class => "btn btn-primary btn-large"}

