%h1
  Time Sheet
.total
  = "today: #{@summary[:worked_hours]}h"
  - if( @summary[:work_diff_hours] > 0 )
    overtime:
  - else
    left:
  = "#{@summary[:work_diff_hours]}h"

%form{:method=>"post"}
  - if @running 
    -#%input{:type=>"submit", :name=>"cmd", :value=>"start", :disabled => true}
    %input{:type=>"submit", :name=>"cmd", :value=>"stop"}
    %label{:for => "comment"}
      Comment:
    %input{:type=>"text", :name => "comment"}
  - else
    %input{:type=>"submit", :name=>"cmd", :value=>"start"}
    -#%input{:type=>"submit", :name=>"cmd", :value=>"stop", :disabled => true}

%a{:href => "/history"}
  History
