%html
  %head
    %title Time sheet
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=utf-8"}
    %meta{:name => "viewport", :content => "initial-scale = 1.0, user-scalable=no"}
    %link{:href => "/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body
    #wrapper
      = yield
